import React from "react";

{{#imports}}
{{{.}}}
{{/imports}}

export const AllIcons = () => {
    return (<div style={ {display: 'flex', flexWrap: 'wrap'} }>
{{#icons}}
        {{{.}}}
{{/icons}}
    </div>)
};
